/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 4:34:12 PM
    Author     : administrator
*/

.section-social > .social {
    margin-top: 40px;
    font-weight: bold;
    float: right;
}

.main > .side > ul > .active{
    border-left: 4px solid #036EAC;
}

.head-img > .img  .crew{
    transform: skewX(29deg);margin-left:-77px;
}

.head-img > .text > h1{
    padding-left: 30px;
}

.head-img > .text{
    background: linear-gradient(88deg, #009CD1 0%, #00AFE9 51%, #00AFE9 75%);
}
.navbar-form-head{
    float: right;
}
.search-box > .search-icon{
    position: absolute;
    right: 10px;top:8px;font-size: 16px
}

.titleSiteStyle{
    position: relative;
    height: 250px;
    background-image: url("#{resource['img/emerson-process-management-h.jpg']}");

    background-repeat: no-repeat;
    background-size: 400px 250px;
    background-position: right center;
    padding: 0 15px;
    /*background-color: rgb(0, 121, 193);*/
}


.paddingFirstRow{
    padding-right: 15px;
}
.titleSiteStyle .childTitle{
    position: relative;
    background-color: rgb(0, 121, 193);
    height: 250px;
    width: 69%;
}
.titleSiteStyle .childTitle h1{
    margin: 0 !important;
    color: white !important;
    padding-top: 4.9em !important;
    padding-left: 5.5em !important;
    font-size: 1.8em !important;
}
.titleSiteStyle .childTitle::after{
    position: absolute;
    display: inline-block;
    width: 0px;
    height: 0;
    line-height: 0;
    border: 85px solid transparent;
    border-left: 39px solid rgb(0, 121, 193);
    border-bottom: 165px solid rgb(0, 121, 193);
    right: -123px;
    top: 0em;
    content: "";
}

@media screen and (max-width:768px){
    .paddingFirstRow{
        padding-right: 15px;
    }

    .titleSiteStyle{
        position: relative;
        height: 200px;
        background-image: url("/Emerson/javax.faces.resource/img/emerson-process-management-h.jpg.xhtml");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 250px 200px;
         
        /*padding: 0 15px;*/
    }
    .titleSiteStyle .childTitle{
        position: relative;
        background-color: rgb(0, 121, 193);
        height: 200px;
        width: 65%;
    }
    .titleSiteStyle .childTitle h1{
        margin: 0 !important;
        color: white !important;
        padding-top: 1.9em !important;
        padding-left: 0.5em !important;
        font-size: 1.3em !important;
    }
    .titleSiteStyle .childTitle::after{
        position: absolute;
        display: inline-block;
        width: 0px;
        height: 0;
        line-height: 0;
        border: 66px solid transparent;
        border-left: 33px solid rgb(0, 121, 193);
        border-bottom: 134px solid rgb(0, 121, 193);
        right: -98px;
        top: 0em;
        content: "";
        z-index: 0;
    }
}
@media screen and (max-width:1024px )and(min-width:768px){
    .paddingFirstRow{
        padding-right: 15px;
    }

    .titleSiteStyle{
        position: relative;
        height: 200px;
        background-image: url("/Emerson/javax.faces.resource/img/emerson-process-management-h.jpg.xhtml");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 260px 200px;
         
        /*padding: 0 15px;*/
    }
    .titleSiteStyle .childTitle{
        position: relative;
        background-color: rgb(0, 121, 193);
        height: 200px;
        width: 70%;
    }
    .titleSiteStyle .childTitle h1{
        margin: 0 !important;
        color: white !important;
        padding-top: 1.9em !important;
        padding-left: 0.5em !important;
        font-size: 1.3em !important;
    }
    .titleSiteStyle .childTitle::after{
        position: absolute;
        display: inline-block;
        width: 0px;
        height: 0;
        line-height: 0;
        border: 66px solid transparent;
        border-left: 33px solid rgb(0, 121, 193);
        border-bottom: 134px solid rgb(0, 121, 193);
        right: -98px;
        top: 0em;
        content: "";
        z-index: 0;
    }
}


