/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 4:34:04 PM
    Author     : administrator
*/

.section-social > .social {
    margin-top: 40px;
    font-weight: bold;
    float: left;
}

.main > .side > ul > .active{
 border-right: 4px solid #036EAC;
}

.head-img > .img  .crew{
transform: skewX(-29deg);margin-right:-77px;
}

.head-img > .text > h1{
    padding-right: 30px;
}
.head-img > .text{
    background: linear-gradient(88deg,#00AFE9  0%, #00AFE9 51%, #009CD1 75%);
}

.navbar-form-head{
    float: left;
}